<html>
  <head>
  </head>
  <body>
      
    <p> This is a new game of hangman </p>
    The starred word is <%= starWord %>
     
     <form>

        <input type = 'text' name = 'guess'/>
        <input type = 'submit'/>

     </form>
    <p> The words you have already gussed are <%= wrongGuesses %>
    <p> You have <%= lives %> lives remaining </p>



  </body>
</html>